/lambda/build
/lambda/*.txt
*.out
*.txt

/cache
/data
*.csv
*.json
!pa11y_config.json
.~lock*
/todo.txt
__pycache__
*.pyc
/reports
/results
.env
*.swp
/node_modules
.python-version
.ruby-version
scripts/pulse-results/*.json
.DS_Store
venv
