##########################
# Common (Local + Lambda)
##########################
#
# These are the only dependencies which must get packaged
# into every (Python-based) Lambda container build.

strict-rfc3339
publicsuffix


#################
# Common (Local)
#################

boto3
ipython


############
# Scanners
############

# sslyze
sslyze>=1.3.4,<1.4.0
cryptography

# a11y
pyyaml
requests


############
# Gatherers
############

# censys
google-cloud-bigquery
google-auth-oauthlib


############
# Tests
############

pytest
