###
# Requirements used by specific scanners.

# pshtt
pshtt>=0.6.3

# trustymail
trustymail>=0.7.5

# sslyze
sslyze>=2.0.6,<3.0

# a11y / csp
pyyaml

# uswds2
lxml

# pagedata
ijson

# DAP
beautifulsoup4

# headless
publicsuffix
strict_rfc3339
