
########
# NOTE: Any requirements which are needed for Python-based Lambda function
# packaging should also be listed in lambda/requirements-lambda.txt.
# Those are in the bottom section below.

# Used by parts of domain-scan, but not used inside of Lambda function
# invocation.
boto3

# Used in Lambda functions
-r lambda/requirements-lambda.txt
